<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ca.umontreal.geodes.merriem.cdeditor.editor.Activator"
               id="ca.umontreal.geodes.merriem.cdeditor.editor"
	       name="editor">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="ca.umontreal.geodes.merriem.cdeditor.editor.ExternalJavaAction1"
           id="ca.umontreal.geodes.merriem.cdeditor.editor.javaActions1">
     </javaActions>
  </extension>
  <extension
        id="menu:setModeReference"
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar?after=additions">
        <command
              commandId="ca.umontreal.geodes.merriem.cdeditor.editor.predictAtEnd"
              icon="icons/start.png"
              id="Predict"
              label="Predict"
              mode="FORCE_TEXT"
              style="push"
              tooltip="start">
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar?after=Predict">
        <command
              commandId="ca.umontreal.geodes.merriem.cdeditor.editor.mode"
              icon="icons/spark.png"
              id="mode"
              label="mode"
              mode="FORCE_TEXT"
              style="push"
              tooltip="Select Mode">
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="ca.umontreal.geodes.merriem.cdeditor.editor.PredictAtEnd"
           commandId="ca.umontreal.geodes.merriem.cdeditor.editor.predictAtEnd">
     </handler>
     <handler
           class="ca.umontreal.geodes.merriem.cdeditor.editor.ModeSelectionHandler"
           commandId="ca.umontreal.geodes.merriem.cdeditor.editor.mode">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           class="ca.umontreal.geodes.merriem.cdeditor.editor.ViewSuggestions"
           id="ca.umontreal.geodes.merriem.cdeditor.editor.view3"
           name="Class Names"
           restorable="true">
     </view>
     <view
           class="ca.umontreal.geodes.merriem.cdeditor.editor.ViewAssociations"
           id="ca.umontreal.geodes.merriem.cdeditor.editor.viewAssociations"
           name="Associations"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="*">
        <view
              id="ca.umontreal.geodes.merriem.cdeditor.editor.view3"
              minimized="false"
              ratio="0.95f"
              relationship="fast"
              visible="true">
        </view>
        <view
              id="ca.umontreal.geodes.merriem.cdeditor.editor.viewAssociations"
              minimized="false"
              ratio="95f"
              relationship="fast"
              visible="true">
        </view>
     </perspectiveExtension>
  </extension>
</plugin>
