<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ca.umontreal.geodes.merriem.cdeditor.editor.Activator"
               id="ca.umontreal.geodes.merriem.cdeditor.editor"
	       name="editor">
    </component>
  </extension>
</plugin>
