<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ca.umontreal.geodes.merriem.cdeditor.editor.Activator"
               id="ca.umontreal.geodes.merriem.cdeditor.editor"
	       name="editor">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="ca.umontreal.geodes.merriem.cdeditor.editor.ExternalJavaAction1"
           id="ca.umontreal.geodes.merriem.cdeditor.editor.javaActions1">
     </javaActions>
  </extension>
  <extension
        id="menu:setModeReference"
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar?after=additions">
        <command
              commandId="ca.umontreal.geodes.merriem.cdeditor.editor.command.1"
              icon="icons/start.png"
              id="predict"
              label="predict"
              mode="FORCE_TEXT"
              style="push"
              tooltip="start">
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar?after=additions">
        <toolbar
              id="ca.umontreal.geodes.merriem.cdeditor.editor.toolbar2"
              label="toolbarSetMode">
           <command
                 commandId="setModeReference"
                 icon="icons/spark.png"
                 id="modepulldown"
                 label="pulldown menu"
                 style="pulldown">
           </command>
        </toolbar>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="menu:setModeReference">
        <command
              commandId="ca.umontreal.geodes.merriem.cdeditor.editor.hello"
              icon="icons/start.png"
              label="hello"
              mode="FORCE_TEXT"
              style="push">
        </command>
        <command
              commandId="ca.umontreal.geodes.merriem.cdeditor.editor.hi"
              icon="icons/start.png"
              label="hi"
              mode="FORCE_TEXT"
              style="push">
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="ca.umontreal.geodes.merriem.cdeditor.editor.handler"
           commandId="ca.umontreal.geodes.merriem.cdeditor.editor.command.1">
     </handler>
     <handler
           class="ca.umontreal.geodes.merriem.cdeditor.editor.PredictionMode"
           commandId="ca.umontreal.geodes.merriem.cdeditor.editor.predictionMode">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="PredictionMode"
           id="setModeReference"
           name="setModeReference">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           class="ca.umontreal.geodes.merriem.cdeditor.editor.ViewSuggestions"
           id="ca.umontreal.geodes.merriem.cdeditor.editor.view3"
           name="Suggestions"
           restorable="true">
     </view>
     <view
           class="ca.umontreal.geodes.merriem.cdeditor.editor.ViewAssociations"
           id="ca.umontreal.geodes.merriem.cdeditor.editor.viewAssociations"
           name="associations"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="*">
        <view
              id="ca.umontreal.geodes.merriem.cdeditor.editor.view3"
              minimized="false"
              ratio="0.95f"
              relationship="fast">
        </view>
        <view
              id="ca.umontreal.geodes.merriem.cdeditor.editor.viewAssociations"
              minimized="false"
              ratio="95f"
              relationship="fast">
        </view>
     </perspectiveExtension>
  </extension>
</plugin>
